.galleryItemContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.galleryImage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}

.galleryDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
}

p {
    margin: 0;
    padding: 0;
}