* {
  padding: 0;
  margin: 0;
}

.galleryCover, .galleryDescription {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  height: 300px;
  position: relative;
}

.galleryCover div, .galleryDescription div {
  position: absolute;
}

.galleryDescription {
  width: 300px;
  height: 300px;
}

img {
  width: 300px;
  height: 300px;
} 

.titleText {
  font-size: 18px;
  padding-top: 10px;
  padding-left: 10px;
}

.likesText {
  font-size: 16px;
}

.locationText {
  font-size: 16px;
}

.monthText {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.galleryImage {
  cursor: pointer;
}

.galleryDescription {
  cursor: pointer;
  filter: grayscale(1);
}